{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
    <link rel="stylesheet" href="{% static 'Client/css/forms.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Staff Login</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-content">
        <form method="post">
            {% csrf_token %}
            <h2>Se connecter</h2>
            <div>
                <label for="email">Email:</label>
                {{ form.email }}
            </div>
            <div>
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">Se connecter</button>
        </form>
        {% if error_message %}
            <div class="error-message">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </div>
    <footer>
        <p>© 2023 Covoiturage. Tous droits réservés.</p>
    </footer>
</body>
</html>
